*, *::before, *::after {
  box-sizing: border-box;
}

html, body, html * {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /* border: 0.5px rgb(239, 116, 116) solid; */
  margin: 0;
  color: #111212;
}

h1 {
  font-size: 42px;
  font-weight: 400;
  line-height: 54px;
  text-align: center;
}

h1 .extra {
  font-family: 'Yesteryear', cursive;
  color: #D476F8;
  font-size: 72px;
}

.headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  border-bottom: 1px #E0E0E0 solid;
}

.headline .logo {
  margin: 6px 18px;
  justify-self: start;
}

.headline .right {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 16px 24px;
}

.headline .contact {
  display: flex;
  align-items: center;
}

.contact a, .contact a:visited, .contact a:hover {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: #4788F5;
}

.contact .phone_icon {
  display: inline-block;
  width: 16px;
  margin-right: 8px;
  height: 100%;
  vertical-align: middle;
}

.contact .phone {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.headline .right .menu_icon {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.headline2 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 0px;
  border-bottom: 1px #E0E0E0 solid;
  height: 56px;
}

.headline2 .right {
  margin: 12px 24px;
  font-size: 14px;
}

.headline2 .right a {
  text-decoration: none;
  color: #111212;
}

.headline2 .cart_icon {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 8px;
}

main {
  padding: 24px;
  border-bottom: 1px #E0E0E0 solid;
}

main item {
  font-size: 16px;
  line-height: 26px;
}

footer {
  padding: 24px 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

footer .logo_icon {
  height: 48px;
}

footer .welcome_text {
  font-size: 16px;
  font-weight: 400;
}

footer .social {
  display: flex;
  gap: 16px;
}

footer .social .icon {
  height: 16px;
}

footer nav h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 16px 0;
  line-height: 28px;
}

footer p {
  font-size: 16px;
  line-height: 26px;
}

footer ul {
  list-style-type: none;
  padding-inline-start: 0;
}

footer ul li {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

footer li a, footer li a:visited, footer li a:hover {
  text-decoration: none;
  color: #111212;
}

footer .subscription {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer .subscription h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

footer .subscription #subscribe_form {
  display: flex;
  flex-direction: row;
  width: 80%;
}

footer input, footer button {
  display: inline-block;
  height: 48px;
  border-radius: 0;
  flex-shrink: 1;
  flex-grow: 1;
}
footer input {
  border: 1px solid #E0E0E0;
  padding: 12px 16px;
}
footer button {
  background: #4788F5;
  border: 0;
  color: #FFFFFF;
  text-transform: uppercase;
}